<%- include('blocks/header', {bot:bot, user: user, auth: auth}) %>

<div class="main ui text container">
	<h1 class="ui dividing header">Global Server Admin</h1>
	<div class="ui items">
	<% bot.guilds.forEach(guild => { %>
	  <div class="item">
			<% if (guild.icon) { %>
				<img class="ui circular image" width="80" height="80" src="<%= `https://cdn.discordapp.com/icons/${guild.id}/${guild.icon}.png?size=128` %>">
			<% } else { %>
				<canvas id="<%= guild.id %>" width="80" height="80"></canvas>
				<script>
					function draw() {
						const ctx = document.getElementById("<%= guild.id %>").getContext("2d");
						ctx.fillStyle = "rgb(245, 245, 245)";
						ctx.beginPath();
						ctx.arc(40, 40, 40, 0, 2 * Math.PI, false);
						ctx.fill();
						ctx.restore();
						ctx.textAlign = "center";
						ctx.font = "30px Arial";
						ctx.fillStyle = "rgb(23, 23, 23)";
						ctx.fillText("<%= guild.name.split(" ").map(v => v[0]).join("") %>", 40, 51);
					}

					draw();
				</script>
			<% } %>
	    <div class="middle aligned content" style="padding-left: 18px;">
	      <a class="header"><%= guild.name %></a>
		    <div class="extra">
		      <a class="ui primary button" href="<%= `/manage/${guild.id}` %>">
		        Manage
		        <i class="right chevron icon"></i>
		      </a>
		    </div>
	    </div>
	  </div>

	<% }); %>
	</div>
</div>

<% include ./blocks/footer %>