<%- include("./blocks/header.ejs", { Client, user, page: "Guild", settings, guild }); %>

    <section id="manage">
        <div class="container">
            <div class="col-md-8 col-md-offset-2">
                <div class="media roundedWell">
                    <div class="media-left media-middle">
                        <% if (guild.icon) { %>
                            <img src="https://cdn.discordapp.com/icons/<%= guild.id %>/<%= guild.icon %>.webp?size=256" class="img-rounded medium">
                        <% } else { %>
                            <canvas id="<%= guild.id %>" width="128px" height="128px"></canvas>
                            <script>
                                function draw(id, name) {
                                    const ctx = document.getElementById(id).getContext("2d");
                                    ctx.textAlign = "center";
                                    ctx.font = "54px Arial";
                                    ctx.fillStyle = "rgb(23, 23, 23)";
                                    ctx.fillText(name.split(" ").map(v => v[0]).join(" "), 64, 88);
                                };
                                draw("<%= guild.id %>", "<%= guild.name %>");
                            </script>
                        <% } %>
                    </div>
                    <div class="media-body">
                        <h3><%= guild.name %> <small><%= guild.memberCount %> members</small></h3>
                        <h4><span class="glyphicon glyphicon-star"></span>&nbsp;<small> <%= guild.owner.user.tag %></small></h4>
                        <h4><span class="glyphicon glyphicon-comment"></span>&nbsp; Channels<small> <%= guild.channels.filter(ch => ch.type === "text").size %></small></h4>
                        <h4><span class="glyphicon glyphicon-headphones"></span>&nbsp; Channels<small> <%= guild.channels.filter(ch => ch.type === "voice").size %></small></h4>
                    </div>
                </div>
            </div>
        </div>
    </section>

<%- include("./blocks/footer.ejs"); %>
