<%- include("./blocks/header.ejs", { thisClient, user, page: "Manage", guild, settings }); %>

<% const show = (folder, key) => settings[folder][key] && guild[folder].has(settings[folder][key]) ? guild[folder].get(settings[folder][key]).name : null  %>

    <section id="manage">
        <div class="container">
            <div class="col-md-8 col-md-offset-2">
                <form method="post">
                    <hr></hr>
                    <h4>Channels</h4>
                    <table style="width:100%">
                        <col width="170">
                        <% const ST_CHANNELS = ["announcement", "default", "log", "mod", "spam"];
                            for (const ST_CHANNEL of ST_CHANNELS) {
                        %>
                            <tr>
                                <th>
                                    <div style="width:150px;">
                                        <select name="channels.<%= ST_CHANNEL %>" class="form-control">
                                            <option selected disabled><%= show("channels", ST_CHANNEL) || "Select a channel" %></option>
                                            <% for (const G_CHANNEL of guild.channels.values()) {
                                                if (G_CHANNEL.type === "voice") continue; %>
                                                <option value="<%= G_CHANNEL.id %>"><%= G_CHANNEL.name %></option>
                                            <% } %>
                                        </select>
                                    </div>
                                </th>
                                <th><%= ST_CHANNEL %></th>
                            </tr>
                        <% } %>
                    </table>
                    <hr></hr>
                    <h4>Roles</h4>
                    <table style="width:100%">
                        <col width="170">
                        <% const ST_ROLES = ["admin", "moderator", "staff", "muted"];
                            for (const ST_ROLE of ST_ROLES) {
                        %>
                            <tr>
                                <th>
                                    <div style="width:150px;">
                                        <select name="channels.<%= ST_ROLE %>" class="form-control">
                                            <option selected disabled><%= show("roles", ST_ROLE) || "Select a role" %></option>
                                            <% for (const G_ROLE of guild.roles.values()) { %>
                                                <option value="<%= G_ROLE.id %>"><%= G_ROLE.name %></option>
                                            <% } %>
                                        </select>
                                    </div>
                                </th>
                                <th><%= ST_ROLE %></th>
                            </tr>
                        <% } %>
                    </table>
                    <hr></hr>
                    <h4>Events</h4>
                    <table style="width:100%">
                        <col width="170">
                        <tr>
                            <th>
                                <div class="slideThree">
                                    <input type="checkbox" id="guildMemberAdd" name="guildMemberAdd" />
                                    <label for="guildMemberAdd"></label>
                                </div>
                            </th>
                            <th>guildMemberAdd</th>
                        </tr>
                        <tr>
                            <th>
                                <div class="slideThree">
                                    <input type="checkbox" id="guildMemberRemove" name="guildMemberRemove" />
                                    <label for="guildMemberRemove"></label>
                                </div>
                            </th>
                            <th>guildMemberRemove</th>
                        </tr>
                    </table>
                    <hr></hr>
                    <h4>Messages</h4>
                    <div class="input-group">
                        <span class="input-group-addon">GreetingMessage</span>
                        <input id="greetingMessage" type="text" class="form-control" name="greetingMessage" placeholder="Additional Info">
                    </div>
                    <hr></hr>
                    <div class="center"><input type="submit" value="Save" class="btn btn-default btn-inverse"></div>
                    <script>
                        $("form").submit(function(event) {
                            const serial = $(this).serializeArray()
                            console.log(...serial);
                            alert("Check the Console.");
                            // event.preventDefault();
                        });
                    </script>
                </form>
            </div>
        </div>
    </section>

<%- include("./blocks/footer.ejs"); %>