<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
	<title>Skyra</title>
	<link rel='icon' href='<%= bot.user.displayAvatarURL %>'>
	<link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">
	<script
	  src="https://code.jquery.com/jquery-3.1.1.min.js"
	  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
	  crossorigin="anonymous"></script>
	<script src="/semantic/dist/semantic.min.js"></script>
  <style type="text/css">
    .spacer {
      margin-top: 7em;
    }
    .footer.segment {
      padding: 5em 0em;
    }
    .footer {
      margin-top: 5em !important;
      bottom: 0;
      position: absolute;
    }

    body {
      font-feature-settings: "kern" 1;
      font-kerning: normal;
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }
    
    code {
      background-color: #2b2b2b;
      color: #fff;
      max-width: 100%;
      overflow-x: auto;
      vertical-align: middle;
      border-radius: 5px;
      box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.5);
      white-space: pre;
      display: inline-block;
      margin: 0;
      font: 14px/1.8em Menlo, Consolas, "Courier New", Courier, "Liberation Mono", monospace;
      padding: 0 0.5em;
    }

  </style>
  </head>

<body>


<div class="ui fixed inverted menu">
  <div class="ui container">
    <div class="item">
      <img src="<%= bot.user.displayAvatarURL %>">
    </div>
    <a class="header item" href="/">
      <%= bot.user.username %>
    </a>
      <div class="item">
        On <%= bot.guilds.size %>  Servers
      </div>
    <a class="item" href="https://discordapp.com/oauth2/authorize?client_id=<%= bot.config.clientID %>&scope=bot">
      Invite Bot
    </a>
    <a class="item" href="/docs">
      Documentation
    </a>
    <div class="right menu">
      <% if(auth) { %>
      <div class="ui right dropdown item">
        <img src="https://cdn.discordapp.com/avatars/<%= user.id %>/<%= user.avatar %>.png?size=64">
        <div class="menu">
          <div class="header">
            <i class="setting icon"></i>
            Management
          </div>
          <a class="item" href="/me"><i class="user icon"></i>Profile</a>
          <a class="item" href="/dashboard"><i class="settings icon"></i>Dashboard</a>
          <% if(user.id === bot.config.ownerID) { %>
          <a class="item" href="/admin"><i class="privacy icon"></i>Admin</a>
          <% } %>
          <a class="item" href="/logout"><i class="sign out icon"></i>Logout</a>
        </div>
        <div style="padding-left:10px"><%= `${user.username}#${user.discriminator}` %></div>
      </div>
      <% } else { %>
      <a class="item" href="/login"><i class="key icon"></i> Login</a>
      <% } %>
    </div>
  </div>
</div>

<div class="spacer"></div>